<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /paper-new/

    # ریدایرکت اجباری به HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # حذف .php از آدرس
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/?$ $1.php [L]

</IfModule>